





.ul-align {
  line-height: 2.5em;
  display: inline-block;
  text-align: left;
}

#genre-container {
  padding: 0% 5% 5% 5%;
}

.genre-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.genre-grid-item {
  border: 0.5px solid black;
  padding: 8px;
  margin: 5px;
  text-align: center;
}

.delete-btn {
  background-color: white;
  border: none;
  font-size: x-small;
  padding: 0;
}

.delete-div {
  border-top: solid 0.5px black;
}

.genre-link {
  padding: 20px;
  color: black;
}

.spacer {
  height: 100%;
}




#container {
  text-align: center;
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: 100%;
  // width: 100%;
}



// #home {
//   top: 50%;
//   border: solid;
//   padding: 2rem;
  
// }

hr {
  margin: 1px;
}



.genre-name {
  text-align: center;
}



// a:hover {
//     border: 1px solid;
//     padding: 10px;
//     box-shadow: 5px 10px;
  
// }



h1 {
  // text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
    // -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606,
    // 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  display: inline-block;
}

// html, body, #root, #thing {
//   height: 100%
// }



.create-button {
  margin: 8px
}

.add-space {
  height: 4%;
}

 #genre, #book, .empty {
  text-align: center;
  border: solid;
  padding: 2rem;
  // margin: 0rem 5rem;
  background-color: white;
}


.book { 
  border: solid black;
  width: 50%;
}


.section-name {
  display: inline;
  text-align: center;
  border: solid;
  background-color: white;
  margin-bottom: 0%;
}

.genre-button {
  background-color: white;
  border: solid;
  // color: white;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  padding: none;
  
}

// .genre-name {
//   font-size: 
// }

.spacer {
  margin-left: 10px;
}

.no-display {
  display: none;
}




// books -------------------------------

.books-container {
  text-align: center;
  padding: 0px 40px;
  margin: 20px;
  background-color: white;
}

.book-info {
  margin: 10px;
  // border-bottom: solid 0.5px;
}

.book-card {
  border: solid 0.5px;
  margin: 30px;
  padding: 20px;
}

// .delete-book-div {
//   padding: 30pxl;
//   border: solid;
// }

.delete-book-btn {
  background-color: white;
  border: none;
  border-top: solid 0.5px;
  width: 100%;
  font-size: x-small;
  padding-top: 5px;
 
}

.book-form-inputs {
  margin: 10px;
}

#text-area { 
  resize: none;
}

span {
  margin: 5px;
}

.no-books {
  line-height: 200px;
}

// footer -----------------------------------

footer {
  border-top: solid 1px black;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

.footer-item {
  display: inline-block;
  padding: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

// header --------------------------------------------

header {
  // text-align: center;
  margin: 10px 0 30px 0;
  padding-bottom: 5px;
  // border-bottom: solid 0.5px;
}

header h1 {
  text-align: center;
  border-bottom: solid 0.5px;
  width: 100%
}

nav {
  // border: solid;
  text-align: center;
  margin-bottom: 10px;
}

.link {
  // border: solid;
  margin-left: 20px;
  margin-right: 20px;
}

// home ----------------------------------------------

.home-grid { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 30px; 
  // border: 1px solid black; 
  margin: 6% 8% 8% 8%;
  // width: 50%; 
} 

.home-grid-child { 
  margin: 10px; 
  // border: 1px solid red; 
}

.first {
  margin: auto;
}

// about ---------------------------------------------

#about {
  // border: solid 1px black;
  text-align: center;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 250px;
}
