#root {
  background-color: white;
  position: absolute;
  top: 5;
  height: 100%;
  width: 100%;
  font-family: 'proxima-nova',sans-serif;
  color: #594a42;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  margin: 10px 0 20px 0;

}

#home {
  border: solid;
  padding: 2rem;
  
}
footer {
  border-top: solid 1px black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  // background: blue;
  // color: #666;  // color: white;
  text-align: center;
  background-color: white;
}

hr {
  margin: 1px;
}

.book-form {
  border: solid 5px black;
  text-align: center;
}

.book-form-inputs {
  margin: 5px;
}


nav {
  text-align: center;
  margin-bottom: 1rem;
}

.link {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #594a42;
}

h1 {
  // text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
    // -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606,
    // 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  display: inline-block;
}

// html, body, #root, #thing {
//   height: 100%
// }


.form-div {
  text-align: center;
  // margin: 40px

}

.create-button {
  margin: 8px
}

#about, #genre-container, #genre, #book, .empty {
  text-align: center;
  border: solid;
  padding: 2rem;
  // margin: 0rem 5rem;
  background-color: white;
}


.book { 
  border: solid black;
  width: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  // background-color: #2196F3;
  // padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 8px;
  // font-size: 30px;
  text-align: center;
}

.section-name {
  display: inline;
  text-align: center;
  border: solid;
  background-color: white;
  margin-bottom: 0%;
}

.genre-button {
  background-color: white;
  border: solid;
  // color: white;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  padding: none;
  
}

// .genre-name {
//   font-size: 
// }

.spacer {
  margin-left: 10px;
}

.no-display {
  display: none;
}

.delete-btn {
  background-color: white;
  border: none;
  font-size: small;
  padding: 0;
}

.delete-div {
  border-top: solid 1px #594a42;
 
}

.genre-link {
  padding: 1rem;
}


#text-area { 
  width: 50%;
  height: 20%;
}
